.profile-body {
    margin: 0;
}

.headerMobile {
    background-color: #7D07F2;
    display: flex;
    flex-direction: row;
    padding: 25px 10px 10px 10px;
    height: 70px;
}

.headerWeb {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.menu-mobile {
    display: block;
    background-color: #7D07F2;
    width: 80px;
}

.menu-mobile ul {
    padding: 3px;
}

.photo {
    width: 140px;
    text-align: center;
    margin: auto;
}

.photodiv {
    margin: 20px auto;
    padding: 10px;
    width: 165px;
    border-radius: 10px;
    background-color: #7D07F2;
}

.photoEdit {
    display: none;
}

.change-photo,
.change-photo:hover {
    border-radius: 5px;
    background-color: #23d9b7;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, .1), rgba(255, 255, 255, .4), rgba(255, 255, 255, 0), rgba(255, 255, 255, .4));
    font-weight: bold;
    font-size: 14px;
    color: #5207F2;
    height: 30px;
    margin: 3px;
    padding: 4px;
}

.buttons {
    padding: 0px;
}

.regInput {
    background: transparent;
    border: 0;
    border-radius: 10px;
    color: #E2F205;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    height: 25px;
    margin: 10px;
    outline: none;
    padding-top: 10px;
    text-align: center;
    width: 200px;
}

#mostra {
    display: none;
}

#toggle-1 {
    display: none;
}

#toggle-1:checked~#mostra {
    display: block;
}

.invisible {
    display: none;
}

.regInput:placeholder-shown {
    background-color: white;
}

.container-bio {
    background-color: #7D07F2;
    border-radius: 20px;
    margin: 20px auto;
    padding: 15px;
    width: 280px;
}

.bio {
    border-radius: 10px;
}

@media(Min-width:600px) {
    .headerMobile {
        display: none;
    }
    .headerWeb {
        display: flex;
        background-color: #7d07f2;
        background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, .3));
        justify-content: space-between;
        width: 100vw;
    }
    .logout {
        width: 30px;
        height: 30px;
        margin: 20px;
        margin-right: 30px;
    }
    .menuWeb {
        display: flex;
        font-size: 25px;
        width: 30px;
        height: 30px;
        margin: 20px;
    }
    .title-web {
        display: flex;
        justify-content: center;
        font-size: 30px;
        height: 30px;
        margin: 20px;
        width: 30px;
    }
    .logout {
        font-size: 25px;
    }
    .menu-profile {
        margin-right: 15px;
        margin-left: 15px;
    }
    .photo {
        width: 220px;
    }
    .photodiv {
        padding: 10px;
        width: 250px;
    }
    .photodiv {
        margin: 20px auto;
        padding: 10px;
        border-radius: 10px;
        background-color: #7D07F2;
        padding: 10px;
    }
    .photoEdit {
        display: none;
    }
}