*{
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to bottom right,rgb(0, 153, 255),rgb(79, 71, 197), rgb(6, 6, 212));
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100vh;
    color: white;
}
